.home{
    /* background-color: aqua; */
    height: 100vh;
    width: 100%;
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dif{
    color: var(--color-1);
}

.home .p1{
    width: 50%;
    /* background-color: azure; */
}

.home .p1 .text-cnt{
    box-sizing: content-box;
    width: 50%;
    /* background-color: aqua; */
    margin: 10rem 8rem;
    overflow-wrap: break-word;
}

.home .p1 .text-cnt h3{
    color: var(--color-1);
}

.home .p1 .text-cnt .btn-cnt .btn{
    border-radius: 1rem;
    color: var(--color-1);
    border: solid 2px var(--color-1);
    /* height: 7vh; */
    /* width: 10vw; */
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}

.home .p1 .text-cnt .btn-cnt .btn-pr{
    border-radius: 1rem;
    background-color:  var(--color-1);
    color: var(--color-3);
    /* height: 7vh; */
    /* width: 10vw; */
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
}

.home .p1 .text-cnt p{
    margin-bottom: 3rem;
}



.home .p2 {
    /* background-color: blue; */
    width: 50%;
    

}

.home .p2 .border{
    width: 25rem;
    height: 25rem;
    border: solid var(--color-2) 5px;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    margin: 7rem -1rem;
}

.home .p2 .color-cnt{
    width: 25rem;
    height: 25rem;
    background-color: var(--color-1);
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    margin: 1rem 6rem;
}
.home .p2 .img-cnt{
    width: 25rem;
    height: 25rem;
    box-sizing: border-box;
    margin: 1rem 6rem;
    /* background-color: aquamarine; */
    z-index: 3;
    position: absolute;
    overflow: hidden;

}








.img-containner{
    height: 100%;
    width: 100%;
    background-color: aqua;
    /* bac */
    /* border-bottom-right-radius: 20rem;
    border-top-left-radius: 20rem; */
    overflow: hidden;
}

.img-containner img{
    padding: 10rem;

    width: 100%;
    /* height: 100%; */

}
p{
    color: var(--color-4);
}







/* .c1{
    position: absolute;
    top: 0;
    width: 20rem;
    height: 30rem;
    background-color: beige;
    z-index: 99;
    border-radius: 20rem;
    left: 0;
} */