@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');

:root {
  /* color */
  --color-1: #FDC435;
  --color-2: #323433;
  --color-3: #FFFFFF;
  --color-4: #c6c6c6;
  --color-5: #f0f0f0;

  --font-family-text:    "Edu AU VIC WA NT Hand", cursive;

}
body{
  background-color: var(--color-5);
}

*{
  font-family: var(--font-family-text) ;
}