:root {
  /* color */
  --color-1: #FDC435;
  --color-2: #323433;
  --color-3: #FFFFFF;
  --color-4: #c6c6c6;
  --color-5: #f0f0f0;

  --font-family-text:    'Inter', sans-serif;

}
body{
  background-color: var(--color-5);
}

*{
  font-family: var(--font-family-text) ;
}